<h1>Editar características do Medicamento</h1>

<%= render "form", medicamento: @medicamento %>

<br>

<div>
  <div class="container-xl">
  <div class="text-center">
  <%= link_to "Visualizar Medicamento", @medicamento %> |
  <%= link_to "Voltar para Medicamento", medicamentos_path %>
</div>
