<h1>Novo Atendente</h1>
    <style>
      body {
     background-color: #d1f5d3; 
      }
    </style>

<%= render "form", atendente: @atendente %>

<br>

<div>
  <%= link_to "Voltar para Atendentes", atendentes_path %>
</div>
