<div id="<%= dom_id venda %>">
  <p>
    <strong>Quantidade:</strong>
    <%= venda.quantidade %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= venda.data %>
  </p>

  <p>
    <strong>Medicamento:</strong>
    <%= venda.medicamento_id %>
  </p>

</div>
